
body{
    background-color: hwb(161 79% 10%);
    /* overflow-x: hidden; */
}
nav{
    height:110px;
    width:100%;
    background-color: rgb(162, 179, 244);
    display:flex; 
    font-size: 1.5rem;
}
image img{
    height:50px;
    width: 20px;
}

h2{
    font-size: 3.5rem;
    padding-left: 600px;
    padding-right: 600px;
    padding-bottom: 80px;
    margin-bottom: 20px;
}
.time_box{
    margin-left: 40%;
    background-color: hsl(33, 61%, 80%);   
    height: 80px;  
    width: 20%;
    margin-top: 3%;
    text-align: center;
    font-size: 3rem;

}
.h3{
    padding: 15%;
}
.tasks{
    display: flex;
    justify-content: space-between;
    height: 150px;
    width:60%;
    margin-top:5% ;
    text-align: center;
    background-color:hwb(161 79% 10%);
    border: 3px solid black;
    margin-left: 20%;
    border: none;
}
p{
    font-size: 2rem;
}
.Add_new_task {
    display: flex;
    align-items: center; 
    margin-top: 4%;
    margin-left: 10%;
    justify-content: center;
    
}

#new {
    margin-right: 20px;
    font-size: 18px;
    background-color: hsl(294, 45%, 78%);

}


.Add_new_task span {
    margin-left: 20px; 
}


#all {
    width: 10vw;
    font-size: 18px;
    background-color: hsl(294, 45%, 78%);
}
    
button{
    height: 3rem;
    width:25%;
}
.popup {
    height: 150px;
    width: 50%;
    background-color: #e8c883;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; 
}
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-color: white; */
    padding: 20px;
    /* border: 1px solid #ccc; */
    /* z-index: 9999; */

}

#close {
    position: absolute; 
    top: 5px; 
    left: 5px; 
    cursor: pointer;
}

input:hover {
    border: 5px solid #db9f27;
}

input {
    margin-right: 50px;
    padding: 15px;
    width: 30%;
}

#text {
    margin-top: 20px;
    margin-left: 80px;
    font-size:20px ;
}

.category {
    height: 50px;
    width: 250px;
    font-size: 20px;
}
.category :hover{
    border: 5px solid #db9f27;
}

#save {
    margin-left: 40px;
    padding-left: 60px;
}
.task-item {
    background-color: hsl(33, 61%, 80%);
    border: 3px solid black;
    padding: 10px;
    margin-top: 10px;
    width: 30%;
    margin-left: 43rem;
    row-gap: 30px;
}
.task-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.task-item .fa {
    cursor: pointer;
}

.task-item .fa-edit {
    margin-left: auto; 
}

.task-item .fa-trash-o {
    margin-left: 10px;
}
.completed span {
    text-decoration: line-through;
    color: #999; 
}
